@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

body {
	position: relative;
	overflow: hidden;
}

body::before {
	content: '';
	position: absolute;
	top: -10%;
	left: -10%;
	width: 130%;
	height: 130%;
	background-image: url('../css/loginBG.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	filter: blur(12px);
	z-index: -1;
}

body::after {
	content: '';
	position: absolute;
	top: -10%;
	left: -10%;
	width: 130%;
	height: 130%;
	background: linear-gradient(270deg, rgba(84, 115, 164, 0.8),
		rgba(183, 226, 253, 0.8)); 
	z-index: -1;
}

label.text-label {
	font-size: 3em;
	color: #000000;
	margin-left: 35px;
	position: absolute;
	margin-top: 125px;
}

.container {
	position: relative;
	left: 112px;
	bottom: -172px;
	min-height: 100vh;
	align-items: center;
}

.date-input {
	background: center;
	border: none;
	font-size: 2em;
}

.filter__submit:active, .filter__submit:focus, .filter__submit:hover {
	border-color: #6A679E;
	outline: none;
}

.filter__submit {
	background: #fff;
	font-size: 14px;
	margin-top: 7px;
	padding: 16px 20px;
	border-radius: 26px;
	border: 1px solid #D4D3E8;
	text-transform: uppercase;
	font-weight: 700;
	display: flex;
	align-items: center;
	text-align: center;
	align-content: center;
	width: 250px;
	color: #48619d;
	box-shadow: 0px 2px 2px #567096;
	cursor: pointer;
	transition: .2s;
	flex-wrap: wrap;
	justify-content: center;
	flex-direction: row;
}

.table-container {
	position: relative;
	width: 780px;
	left: 400px;
}

.inTime-container, .outTime-container {
	background: #fff;
	font-size: 14px;
	margin-top: 30px;
	padding: 16px 20px;
	border-radius: 26px;
	border: 1px solid #D4D3E8;
	text-transform: uppercase;
	font-weight: 700;
	display: flex;
	align-items: center;
	width: 100%;
	color: #48619d;
	box-shadow: 0px 2px 2px #567096;
	cursor: pointer;
	transition: .2s;
	height: 100px;
	pointer-events: none;
}

.inTime-label, .outTime-label {
	position: relative;
	top: -39px;
	font-size: x-large;
	width: 100%;
	color: black;
}

.inTime-span, .outTime-span {
	position: relative;
	top: 49px;
	left: -18px;
	color: cornflowerblue;
}

span.outTime-span {
	left: -38px !important;
}

.company-ref {
	top: -248px;
	left: -74px;
	position: relative;
}

.shape4 {
	background-image: url('../css/logo_white.png');
	background-size: cover;
	background-repeat: no-repeat;
	display: block;
	height: 30px;
	width: 173px;
	cursor: pointer;
	transition: transform 0.2s ease-in-out;
	filter: drop-shadow(2px 4px 6px black);
}

.shape4:hover {
	transform: scale(1.1);
}